<h1>Allergies Score</h1>
<form action="/allergies-form">
  <div class="form-group">
     <label for="allergyScore">Input a number between 1 and 255 to see your Allergens</label>
     <input id="allergyScore" name="allergyScore" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-info">Submit</button>
</form>
